
.accordion{
    margin-right: auto;
    margin-left: auto; 
    /* width: 90%; */
    /* padding: 15px; */
}
.accordion .accordion-content{
    margin: 10px 0;
    overflow: hidden;
}

.accordion-content.open{
    padding-bottom: 10px;
}
.accordion-content header{
    display: flex;
    min-height: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s linear;
    border-bottom: 1px solid #9CA3AF;
}
.accordion-content.open header{
    min-height: 35px;

}
.accordion-content header .title{
    font-weight: 500;
    color: #00FFA8;

}
.accordion-content header i{
    font-size: 15px;
    color: #00FFA8;
}
.accordion-content .description{
    height: 0px;
    margin-top: 10px;
    overflow: hidden;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 400;
    padding: 0 15px;
    transition: all 0.2s linear;
}
