@keyframes rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

#blob {
    background-color: white;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    z-index: 1;
    background: linear-gradient(to right, #0f6ebc, #00FFA8);
    animation: rotate 10s linear infinite;
    filter: blur(150px);
    aspect-ratio: 1/1;
  }