@keyframes rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

#blob {
    background-color: white;
    height: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    z-index: 10;
    background: linear-gradient(to right, #f3f3f3, #f3f3f3);
    animation: rotate 20s infinite;
    filter: blur(200px);
    aspect-ratio: 1/1;
  }