body {
    overflow: overlay;
    width: 100vw;
}

::-webkit-scrollbar {
    background: black;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #00FFA8;
    border-radius: 10px;
}

