.phase-1::before,
.phase-2::before,
.phase-3::before,
.phase-4::before {
    content: "";
    @apply absolute top-0 bottom-0 w-1/2 border-green-100
}


.phase-1::before {
    border-bottom-left-radius: 50px;
    @apply left-0 border-l-solid border-b-solid translate-y-[-2px]
}

.phase-2::before {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    @apply right-0 border-t-solid border-r-solid border-b-solid translate-y-[-1px] translate-x-[-0.8px]
}

.phase-3::before {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    @apply left-0 border-t-solid border-l-solid border-b-solid 
}

.phase-4::before {
    border-top-right-radius: 50px;
    @apply right-0 border-t-solid border-r-solid translate-y-[1px] translate-x-[-0.8px]
}