:root {
    --green: #00FFA8;
    --gradient-vertical: linear-gradient(#C5F5E5 0%, #00FFA8 100%);
    --gradient-horizontal: linear-gradient(90deg, #00FFA8 100%, #C5F5E5 0%);
    --black: #101010;
    --white: #F1F1F1;
    --para-color: #9CA3AF;
}

/* *, div {
    @apply text-gray-100 !important;
} */

/* Typography */
.h1 {
    @apply lg:text-7xl sm:text-5xl text-4xl font-extrabold leading-tight tracking-tighter;
}

.h2 {
    @apply lg:text-5xl sm:text-4xl text-3xl font-extrabold leading-tight tracking-tighter;
}

.h3 {
    @apply lg:text-4xl sm:text-3xl text-xl font-bold leading-tight;
}

.h4 {
    @apply lg:text-3xl sm:text-2xl text-lg font-bold leading-snug tracking-tight;
}

.h5 {
    @apply lg:text-xl text-base font-semibold leading-snug tracking-tight;
}

.p {
    @apply md:text-lg text-base leading-tight tracking-tight text-gray-200;
}

.content {
    @apply lg:max-w-[1100px] md:w-[85%] w-[90%]  mx-auto;
}

.area:hover img {
    @apply scale-105 duration-300;
}

/* @screen sm {
    .h1 {
        @apply text-5xl;
    }

    .h2 {
        @apply text-4xl;
    }
}


@screen md {
    .h1 {
        @apply text-5xl;
    }

    .h2 {
        @apply text-4xl;
    }
}  */

/* Buttons */
.btn,
.btn-sm {
    @apply font-medium inline-flex items-center justify-center border border-transparent rounded leading-snug transition duration-150 ease-in-out;
}

.btn {
    @apply px-8 py-3 shadow-lg;
}

.btn-sm {
    @apply px-4 py-2 shadow;
}

/* Forms */
.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
    @apply bg-white border border-gray-300 focus:border-gray-500;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
    @apply rounded;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
    @apply py-3 px-4;
}

.form-input,
.form-textarea {
    @apply placeholder-gray-500;
}

.form-select {
    @apply pr-10;
}

.form-checkbox,
.form-radio {
    @apply text-gray-800 rounded-sm;
}